/* Holiii otra vez */

*{
	font-family: 'Merriweather Sans', sans-serif;
}

.alt{
	margin-top: 30px;
}

.imagenes{
	width: 100%;

}


.collapse{
	margin-right: 466px;
}

.navbar{
	border-color: red;
	border-top: none;
	border-right: none;
	border-left: none;
	width: 84%;
	margin-left: 8%;
}

a:hover{
	border-bottom: 3px solid red;
}

.punto{
	color: red;
}